.grid-containers {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.grid-item iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}


.search-container {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

.search-icon-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.search-icon-button i {
  font-size: 18px;
  color: #333;
}


@media screen and (max-width: 1024px) {
  .grid-containers {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-containers {
    grid-template-columns: repeat(3, 1fr);
  }

  .banner h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .grid-containers {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner h1 {
    font-size: 1.5rem;
  }
}