 .login-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;

 }

 .login-wrapper::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
 }

 form {
   background: rgba(0, 0, 0, 0.8);
   padding: 30px;
   border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
   z-index: 2;
   text-align: center;
   color: #fff;
   width: 370px;
 }

 form h1 {
   font-size: 24px;
   margin-bottom: 20px;

 }

 form .form-control {
   border: none;

   margin-bottom: 15px;
 }

 form .form-control:focus {
   border-color: #ff9900;
   box-shadow: 0 0 5px #ff9900;

 }

 form .btn-primary {
   background-color: #e50914;
   border: none;
   width: 100%;
   padding: 10px;
   font-size: 16px;
 }

 form .btn-primary:hover {
   background-color: #f40612;
 }

 form a {
   color: #fff;
   text-decoration: none;
   font-size: 14px;
 }

 form a:hover {
   text-decoration: underline;
 }

 @media screen and (max-width: 768px) {
   form {
     width: 90%;
   }
 }