.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.register-form {
  width: 370px;
  background: black;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.register-form h1 {
  color: #fff;
  margin-bottom: 20px;
}

.register-name-group .register-name-input {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.register-name-group .register-name-input:focus {
  color: #181818;
  border-color: #e50914;
}

.register-email-group .register-email-input {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.register-email-group .register-email-input:focus {
  color: #181818;
  border-color: #f6121d;
}

.register-password-group .register-password-input {
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.register-password-group .register-password-input:focus {
  color: white;
  border-color: #1db954;
}

.register-form .form-control {
  margin-bottom: 10px;
  height: 45px;
  font-size: 14px;
}

.register-error-text {
  color: crimson;
  font-size: 12px;
  margin-top: -5px;
}

.register-button {
  width: 100%;
  height: 45px;
  background-color: #e50914;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.register-button:hover {
  background-color: #f6121d;
}

.register-footer {
  margin-top: 15px;
  color: #bbb;
}

.register-footer a {
  color: #fff;
  text-decoration: underline;
}